.carousel{
    width: 100%;
    max-height: 200px;
    margin: auto;    
}
.carousel-item{
    height: 100%;
    
}
.carousel-item>img{
    object-fit: cover;
    width: 200%;
    height: 200%;
}

.caption>h3{
    font-size: 2rem;
}
