.cartListItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.cartListItem>i{
    cursor:pointer;
    font-size: 2rem;
}

.cartListItem>.img-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartListItem>.img-cont>img{
    width: 200px;
}

.stock{
    transition: all .2s ease;
}

.available{
    color: black;
}
.unavailable{
    transform: scale(110%);
    color: red;
}
.quantity-cont{
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter-buttons{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}